.search-wrap {
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -1px 2px 17px -5px rgba(34, 60, 80, 0.2);
    .search-input {
        width: 400px;
        border-radius: 4px;
    }
}